@font-face {
    font-family: pixelada;
    src: url("../font/Code.ttf") format("TrueType"); 
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh; /* ocupa toda a altura da janela */
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    font-family: Arial, Helvetica, sans-serif;
}

#teste {
    margin: 0 auto;
    width: 800px;
    height: 450px;
}

canvas {
    margin: 0;
    padding: 0;
    display: block;
}

.copyright {
    text-align: center;
}

span {
    font-weight: bold;
}

a:link, a:visited {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}